.container {
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
  overflow-x: hidden;
  scroll-behavior: smooth;

  background: #363638;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  margin: 80px 80px 80px;
}

.packContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 100px;

  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 80px;
  padding-top: 40px;
}

.packContainer > * {
  scroll-snap-align: center;
}

@media only screen and (min-width: 600px) {
  .packContainer {
    -webkit-mask: linear-gradient(
        to right,
        transparent 5%,
        #fff 10% 95%,
        transparent 100%
      ),
      linear-gradient(to left, transparent 5%, #fff 10% 95%, transparent 100%);
    -webkit-mask-size: 110% 110%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: source-in;
  }
}

@media only screen and (max-width: 600px) {
  .bodyContainer {
    margin: 40px 40px 40px;
  }
}
