.container {
  position: fixed;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  top: 0px;
}

.modalFrame {
  position: relative;
  z-index: 9999999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.modalContainer {
  position: relative;

  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 516.91px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: #1f1f21 !important;
  border: 1px solid #fff !important;
  padding: 10px;

}

.submitButtonSmall {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.3);
  width: 170px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;

  font-family: "Audiowide";
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
}

.submitButton {
  width: 261px;
  height: 69px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.3);

  border-radius: 10px;
  font-size: 20px;
  font-family: "Audiowide";
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
}

.submitButtonSmall:hover {
  border-color: #e22120;
  color: #e22120;
}

.submitButton:hover {
  border-color: #e22120;
  color: #e22120;
}

.amountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.up {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 32.5px;
  height: 32.5px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid #fff;

  color: #fff;
  font-style: bold;
  font-size: 20px;
  font-family: "Audiowide";

  cursor: pointer;
  user-select: none;
}

.down {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 32.5px;
  height: 32.5px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid #fff;

  color: #fff;
  font-style: bold;
  font-size: 20px;
  font-family: "Audiowide";

  cursor: pointer;
  user-select: none;
}

.amountInput {
  outline: none;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid #fff;
  border-radius: 5px;

  text-align: center;
  font-size: 20px;
  font-family: "Audiowide";

  color: #fff;

  width: 50px;
  height: 50px;
}

.up:hover {
  color: #e22120;
  border-color: #e22120;
}

.down:hover {
  color: #e22120;
  border-color: #e22120;
}

.amountInput[type="number"] {
  -moz-appearance: textfield;
}
.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 1180px) {
  .modalContainer {
    max-height: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .modalContainer {
    max-height: 85%;
  }
}


