.container {
  position: relative; 
  bottom: 0px;
  
  height: 80px;
  width: 100%;
  border-top: 1px solid #fff;

  background: linear-gradient(355deg, #111111 50%, #363638 100%);
}

.copyright {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-anchor: middle;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
}
